<!doctype html>
<html>
  <head>
    <title>Problem 1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
  </head>
  <body>
    <hello></hello>
  <script>
    var appModule = angular.module('app', []);
    appModule.controller('myctrl', function($scope) {
   $scope.detail={place:"delhi"};
   $scope.name1 = "kareena";
        
});
    appModule.directive('custom', function() {
      return {
        restrict: 'E',
       scope:{},
         template: '<div>Name: <input type="text" ng-model="name1"/><br>place <input type="text" ng-model="detail.place"/><br><br></div>'
        
      };
    });
    
  </script>
  <div ng-app='app' ng-controller="myctrl">
  <input type="text" ng-model="name1"/>
  <br>
  place:{{detail.place}}<br><br><b>Isolate Scope<br><br>
  <custom ></custom>
  <custom ></custom>
  </div>
  </body>
</html>